@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
	font-family: "Lora", serif;
	cursor: none;
	scroll-behavior: smooth;
}
*::selection {
	background-color: #3a3737;
	color: white;
}
.highlight {
	/* font-weight: bold; */
	font-size: 1.3rem;
	background: linear-gradient(
		104deg,
		rgba(255, 225, 0, 0.1),
		rgba(255, 225, 0, 0.7) 1%,
		rgba(255, 225, 0, 0.3)
	);
	padding: 0.1em 10.7px;
	-webkit-box-decoration-break: clone;
	margin: 0;
	border-radius: 7.5px;
}
.full-height {
	min-height: 90vh;
}
p {
	font-size: large;
}

.bg-primary {
	background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}

.bg-glass span {
	max-width: 0;
	-webkit-transition: max-width 1s;
	transition: max-width 1s;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
    margin-bottom: -0.2rem;
}
.bg-glass:hover span {
	max-width: 7rem;
}
.bg-glass {
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transition: width 1s;
	transition: width 1s;
}
.bg-glass i{
    padding-left: 0.25rem;
}
.bg-glass:hover {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-1px);
    width: 10rem;
}
.button-email:hover span{
    max-width: 10rem;
}
.button-email:hover{
    width: 14rem;
}
.bg-glass:hover i {
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg); 
	transform: rotate(360deg);
	transition-delay: 0;
	transition: all 0.6s;
}

.bounce1 {
	animation: bounce1 1s cubic-bezier(0.215, 0.61, 0.355, 1) both infinite;
}
.bounce2 {
	animation: bounce2 1s cubic-bezier(0.215, 0.61, 0.355, 1) both infinite;
}
.infinity {
	animation: infinity 4s both infinite;
}

.cursor {
	z-index: 999;
	position: fixed;
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	pointer-events: none;
	box-shadow: 0 0 20px rgb(224, 168, 146);
	transform: translate(-50%, -50%);
	display: none;
}
.padding-medium {
	padding: 5vh 5vw;
}
.padding-none {
	padding: 0;
}
.text-pink {
	color: #fdd6bd;
}
.bg-black {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.scroll-element {
	animation: circle-in-center 1s ease-in-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
}
.scroll-fade-in {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.scroll-animation {
	position: relative;
}
.line {
	height: 0.8vh;
	width: 10vw;
	margin: auto;
	border: none;
	border-radius: 10px;
}
.ball {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}
.floating-animation {
	animation: float 2s ease-in-out infinite;
	transform: translateY(0);
	z-index: -1;
}
.random-bg {
	animation: 1.2s bgrandom infinite;
}
@-webkit-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@-moz-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes circle-in-hesitate {
	0% {
		clip-path: circle(0%);
	}
	40% {
		clip-path: circle(40%);
	}
	100% {
		clip-path: circle(125%);
	}
}

[transition-style="in:circle:hesitate"] {
	animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
}

@keyframes circle-in-center {
	from {
		clip-path: circle(0%);
	}
	to {
		clip-path: circle(100%);
	}
}
@keyframes bounce1 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes bounce2 {
	0% {
		transform: translateY(-60px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-60px);
	}
}

[transition-style="in:circle:center"] {
	animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(120deg, #c970d3 0%, #c73d4f 100%);
}
::-moz-scrollbar {
	width: 12px;
	height: 12px;
	background: #070707;
}

::-moz-scrollbar-thumb {
	background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	border-radius: 10px;
}

::-moz-scrollbar-thumb:hover {
	background: linear-gradient(120deg, #c970d3 0%, #c73d4f 100%);
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}
.responsive {
	display: flex;
	flex-direction: row;
}
@media (max-width: 720px) {
	.responsive {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.responsive-frame {
		max-width: 85vw;
	}
}
