@import "./typed.scss";

// typing animation from https://typedcss.com/
.typewriter {
    font-family: "Courier New", Courier, monospace;
    // width: fit-content;
    text-align: start;

    & p {
        overflow: hidden;
        white-space: nowrap;
        margin: 0;

        @include typed("Hello!<[5]> I am a front-end web developer with 2 years of experience specializing in React, Next.js, and Tailwind CSS.<[5]> I have a strong foundation in building responsive, user-friendly interfaces and have also worked in full-stack positions, giving me a well-rounded understanding of both frontend and backend workflows.<[5]> Additionally, I have experience in mobile development, which allows me to create cross-platform solutions.",
            2,
            (iterations: 0,
                alt-text: "Hello! I am a front-end web developer with 2 years of experience specializing in React, Next.js, and Tailwind CSS. I have a strong foundation in building responsive, user-friendly interfaces and have also worked in full-stack positions, giving me a well-rounded understanding of both frontend and backend workflows. Additionally, I have experience in mobile development, which allows me to create cross-platform solutions.",
            ));
    }
}